<div class="container mt-4">
  <div class="card shadow p-4">
    <h1>Employee Registation</h1>
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <form>
          <div class="mb-3">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Ingresa tu nombre"
              [(ngModel)]="name"
              [ngModelOptions]="{ standalone: true }"
              name="name"
            />
          </div>
          <div class="mb-3">
            <label>Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="Enter Address"
              [(ngModel)]="address"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="mb-3">
            <label>Phone</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="Enter Phone"
              [(ngModel)]="phone"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <button type="submit" (click)="save()" class="btn btn-primary">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--tabla para mostrar un listado de los datos-->

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Option</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let StudentItem of StudentArray">
        <td>{{ StudentItem.name }}</td>
        <td>{{ StudentItem.address }}</td>
        <td>{{ StudentItem.phone }}</td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            (click)="setUpdate(StudentItem)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="setDelete(StudentItem)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
